
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
            </div>
        </div>

        @await Component.InvokeAsync("_AdminDashboardStatisticsComponentPartial")
        
        <div class="row">

        @await Component.InvokeAsync("_AdminDashboadrChart2ComponentPartial")
        @await Component.InvokeAsync("_AdminDashboadrChart1ComponentPartial")
        @await Component.InvokeAsync("_AdminDashboadrChart3ComponentPartial")
            
        </div>

        <div class="row">
            @await Component.InvokeAsync("_AdminDashboardCarPricingListComponentPartial")
            @await Component.InvokeAsync("_AdminDashboardBlogListComponentPartial")
            
        </div>
    </div>
</div>