@model ResultLocationDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}


<div class="row my-4">
    <div class="col-md-6">
        <form class="bg-light p-5 contact-form">
            <div class="form-group">
                <label>Almak İstediğiniz Araba</label>
                <input type="text" class="form-control" readonly placeholder="">
            </div>
            <div class="form-group">
                <label>Adınız</label>
                <input type="text" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label>Soyadınız</label>
                <input type="text" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label>Mail Adresiniz</label>
                <input type="email" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label>Telefon Numaranız</label>
                <input type="number" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label>Yaşınız</label>
                <input type="text" class="form-control" placeholder="">
            </div>
        </form>
    </div> 
    <div class="col-md-6">
        <form class="bg-light p-5 contact-form">
            <div class="form-group">
                <label>Alınmak İstenen Lokasyon</label>
                @Html.DropDownListFor(x => x.LocationID, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Teslim Edilecek Lokasyon</label>
                @Html.DropDownListFor(x => x.LocationID, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Ehliyet Yılınız</label>
                <input type="text" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label>Eklemek İstedikleriniz (İsteğe Bağlı)</label>
                <textarea name="" id="" cols="30" rows="9" class="form-control" placeholder=""></textarea>
            </div>
        </form>
        <div class="form-group my-3">
            <input type="submit" value="Rezervasyonu Tamamla" class="btn btn-primary py-3 px-5">
        </div>
    </div>
</div>