@model CreateContactDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<h1>Index</h1>

<section class="ftco-section contact-section">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            @* The Adress informations will coming from _footerAddressComponent *@
            @await Component.InvokeAsync("_FooterAddressComponentPartial")
            
            <div class="col-md-8 block-9 mb-md-5">
                <form class="bg-light p-5 contact-form" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Adınız Soyadınız" asp-for="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email adresiniz" asp-for="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Konu" asp-for="Subject">
                    </div>
                    <div class="form-group">
                        <textarea cols="30" rows="7" class="form-control" placeholder="Mesajınız" asp-for="Message"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Mesajı Gönder" class="btn btn-primary py-3 px-5">
                    </div>
                </form>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div id="map" class="bg-white">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d199.08813943476892!2d35.31279458230609!3d37.02386393611851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m5!1s0x15288f38a79c7193%3A0xd61674d8580bea06!2sAdana%2C%20Re%C5%9Fatbey%2C%20Seyhan%2FAdana!3m2!1d36.9914194!2d35.330828499999996!4m3!3m2!1d37.0260933!2d35.312631599999996!5e0!3m2!1str!2str!4v1709117518774!5m2!1str!2str" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>