@model List<ResultServiceDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<h1>Hizmetler</h1>


@await Component.InvokeAsync("_ServiceComponentPartial")
W
@await Component.InvokeAsync("_BecomeADriverComponentPartial")