@model UpdatePricingDto

@{
    ViewData["Title"] = "UpdatePricing";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Ödeme Periyodu Düzenleme Sayfası</h4>
                                    <p class="card-subtitle mb-4">
                                        Ödeme periyodu için düzenleme işlemini aşağıdaki panelden yapabilirsiniz.
                                    </p>
                                    <form method="post">
                                        <input type="hidden" asp-for="PricingID"/>
                                        <div class="form-group">
                                            <label for="exampleInputName">Ödeme Periyot Başlığı</label>
                                            <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="Ödeme periyot adını giriniz (günlük, haftalık, aylık vb.)">
                                        </div>
                                        <button type="submit" class="btn btn-success waves-effect waves-light">Ödeme periyot bilgisini Güncelle</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



